<div class="main-page-right">
    <h2 class="main-page-title">Best Sellers <span class="main-page-title-span">Books</span></h2>
    <div class="main-page-book">
        <h3 class="main-page-book-title">COMBINED PRINT & E-BOOK NONFICTION</h3>
        <ul class="main-page-books-render">

            <!-- -------------- markup for render ---------------------------------->
            <!-- <li class="main-page-book-render-item">
                    <a class="book-link" href="#">
                        <img class="book-image" src="${book_image}" alt="#" />
                    </a>
                    <h2 class="book-title">${list_name}</h2>
                    <p class="book-author">${author}</p>
                </li> -->
            <!-- ------------------------end of markup for render------------- -->
        </ul>
        <div>
            <button class="button-see-more" type="button">See more</button>
        </div>
    </div>
</div>