<div class="main-page-right">
  <h2 class="main-page-title">Best Sellers <span class="main-page-title-span">Books</span></h2>
  <ul class="main-page-book">
    <ul class='main-page-book-title'>
      <ul class="main-page-books-render"></ul>
    </ul>
  </ul>

  <!-- <ul class="main-page-book">
          <li class="main-page-book-title-list">COMBINED PRINT & E-BOOK NONFICTION</li> 
     

      <ul class="main-page-books-render">
        <li class="main-page-book-render-item">
          <a class="book-link" href="#">
            <img class="book-image" src="${book_image}" alt="#" />
          </a>
          <h2 class="book-title">${list_name}</h2>
          <p class="book-author">${author}</p>
        </li> </ul>
    </ul> -->
  <div>
    <button class="button-see-more" type="button">See more</button>
  </div>
  </ul>

</div>