<footer class="footer">
  <div class="container footer-container">
    <button type="button" class="btn-footer team-shark">
      <span class="emergency-number">📞 911</span>
    </button>
  </div>
</footer>

<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>Team 911</h2>
      <p class="blinking-text" style="color: red">
        Emergency code support, rescuing your projects in no time!
      </p>
      <ul class="team-list">
        <li class="team-member">
          <span class="member-name">Сергій Новіков</span> -
          <span class="member-role">Team Lead</span>
        </li>
        <li class="team-member">
          <span class="member-name">Аліна Гетьман</span> -
          <span class="member-role">Scrum master</span>
        </li>
        <li class="team-member">
          <span class="member-name">Олена Беляєва</span> -
          <span class="member-role">HTML/CSS, burger menu, ...</span>
        </li>
        <li class="team-member">
          <span class="member-name">Якимов Юрій</span> -
          <span class="member-role"
            >HTML/CSS, dark theme, footer, modal sign up</span
          >
        </li>
        <li class="team-member">
          <span class="member-name">Ім'я Прізвище</span> -
          <span class="member-role">QA Engineer</span>
        </li>
        <li class="team-member">
          <span class="member-name">Ім'я Прізвище</span> -
          <span class="member-role">DevOps Engineer</span>
        </li>
        <li class="team-member">
          <span class="member-name">Ім'я Прізвище</span> -
          <span class="member-role">Data Scientist</span>
        </li>
        <li class="team-member">
          <span class="member-name">Ім'я Прізвище</span> -
          <span class="member-role">Cybersecurity Specialist</span>
        </li>
      </ul>

      <svg
        class="modal-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        preserveAspectRatio="none"
      >
        <rect
          x="0"
          y="0"
          fill="none"
          width="226"
          height="162"
          rx="3"
          ry="3"
        ></rect>
      </svg>
    </div>
  </div>
</div>
