<footer class="footer">
  <div class="container footer-container">
    <button type="button" class="btn-footer team-shark" aria-label="Emergency number">
      <span class="emergency-number">📞 <b>911</b></span>
    </button>
  </div>
</footer>

<div id="modal-container">
  <div class="modal-background">
    <div class="modal">
      <h2>Team 911</h2>
      <p class="blinking-text" style="color: red">
        Emergency code support, rescuing your projects in no time!
      </p>
      <ul class="team-list">
        <li class="team-member">
          <span class="member-name">ЗСУ</span> -
          <span class="member-role">The sword and shield of our country</span>
        </li>
        <li class="team-member">
          <span class="member-name">Сергій Новіков</span> -
          <span class="member-role"
            >Team leader, developed authorization feature</span
          >
        </li>
        <li class="team-member">
          <span class="member-name">Аліна Гетман</span> -
          <span class="member-role"
            >Scrum master, Developed section All Categories</span
          >
        </li>
        <li class="team-member">
          <span class="member-name">Олена Бєляєва</span> -
          <span class="member-role">HTML/CSS, burger menu and fix expert</span>
        </li>
        <li class="team-member">
          <span class="member-name">Юрій Якимов</span> -
          <span class="member-role">HTML/CSS, dark theme, footer</span>
        </li>
        <li class="team-member">
          <span class="member-name">Володимир Анісімов</span> -
          <span class="member-role">Head of JS</span>
        </li>
        <li class="team-member">
          <span class="member-name">Наталія Золотуха</span> -
          <span class="member-role"
            >Developed cards for books for each category</span
          >
        </li>
        <li class="team-member">
          <span class="member-name">Максим Зайченко</span> -
          <span class="member-role">Developed pagination</span>
        </li>
        <li class="team-member">
          <span class="member-name">Кирило Буданов</span> -
          <span class="member-role">Cybersecurity Specialist</span>
        </li>
      </ul>

      <svg
        class="modal-svg"
        xmlns="http://www.w3.org/2000/svg"
        width="100%"
        height="100%"
        preserveAspectRatio="none"
      >
        <rect
          x="0"
          y="0"
          fill="none"
          width="226"
          height="162"
          rx="3"
          ry="3"
        ></rect>
      </svg>
    </div>
  </div>
</div>
