/* категорії */

/* both categories & support funds container  */
/* mobile */
.img {
  max-width: 100%;
}

.list {
  width: 100%;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
  }

  .list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .shop-list-header .partners-list {
    width: 276px;
  }

  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 86px;
  }
}

/* mobile */
.categories-container {
  width: 100%;
  height: 228px;

  /* overflow-x: hidden; */
  overflow-y: scroll;
}

.categories-container::-webkit-scrollbar {
  width: 8px;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}

.categories-elements {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 270px;
}

@media only screen and (min-width: 375px) {
  .categories-container {
    width: 335px;
  }

  .categories-elements {
    width: 307px;
  }
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-container {
    width: 337px;
    height: 472px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-container {
    width: 356px;
  }
}


/* tablet */
@media only screen and (min-width: 768px) {
  .categories-elements {
    width: 309px;

    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-elements {
    width: 328px;
  }
}

/* mobile */
.categories-list {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
}

/* tablet & desktop */
@media only screen and (min-width: 768px) {
  .categories-list {
    /* gap: 32px; */

    height: 24px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.categories-list:hover,
.categories-list:focus {
  color: var(--brand-color);
}

.current-category {
  font-weight: 700;
  line-height: 1.33333;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  color: var(--active-category);
}

/* --------------------------MAIN PAGE RIGHT aka BOOKS--------------------- */

/* категорії */

/* both categories & support funds container  */
/* mobile */
.img {
  max-width: 100%;
}




/* mobile */
.categories-list {
  height: 18px;

  font-size: 15px;
  color: var(--category);
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
}

/* tablet & desktop */
@media only screen and (min-width: 768px) {
  .categories-list {
    /* gap: 32px; */

    height: 24px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.categories-list:hover,
.categories-list:focus {
  color: var(--brand-color);
}

.current-category {
  /* height: 24px; */
  font-weight: 700;
  line-height: 1.33333;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  color: var(--active-category);
}

/* --------------------------Код Аліни----------------------*/

.main-page-div {
  /* grid-area: content; */
  flex: 1;
}

.book-card {
  width: 290px;
  
}

@media only screen and (min-width: 375px) {
  .book-card {
    width: 335px;
    cursor: pointer;
  }
}

.main-page-books-render {
  width: 290px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  row-gap: 40px;
  margin-top: 18px;
}

.main-page-title {
  letter-spacing: -1.92px;
  margin-bottom: 40px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  font-size: 32px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) {
  .main-page-title {
    letter-spacing: -1.92px;
    font-family: 'DM Sans', sans-serif;
    font-size: 48px;
    line-height: 1.08;
  }

  .main-page-books-render {
    width: 704px;
  }
}

.book-image {
  border-radius: 8px;
  width: 335px;
  height: 485px;
  object-fit: cover;
}

.main-page-book-render-item {
  width: 290px;
  display: contents;
}

@media screen and (min-width: 375px) {
  .main-page-right {
    max-width: 375px;
  }

  .main-page-book-render-item:nth-child(1) {
    display: contents;
  }
}

@media screen and (min-width: 768px) {
  .main-page-right {
    max-width: 768px;
  }
  .main-page-book-render-item:nth-child(-n + 3) {
    display: contents;
  }

  .book-card {
    width: 218px;
  }
  .main-page-books-render {
    grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
    column-gap: 25px;
  }
  .book-image {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .main-page-right {
    max-width: 1044px;
  }
  .main-page-book-render-item {
    display: contents;
  }
  .book-card {
    width: 180px;
  }
  .main-page-books-render {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    column-gap: 24px;
  }
  .book-image {
    width: 180px;
    height: 256px;
  }

  .main-page-books-render {
    width: 996px;
  }
}

.main-page-right span {
  color: var(--brand-color);
}

.main-page-book-title {
  display: block;
  width: 100%;
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.book-image {
  border-radius: 8px;
}

.button-see-more {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  background-color: var(--main-bg-cl);
  line-break: auto;
  line-clamp: 180px;
  letter-spacing: -0.01em;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: 0;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  overflow: hidden;
}

.button-see-more:hover,
.button-see-more:focus {
  color: #fff;
  background-color: var(--brand-color);
}

.dark .button-see-more {
  border: 2px solid var(--brand-color);
  background-color: #202024;
  color: var(--text-color);
}

.dark .button-see-more:hover {
  background-color: #4f2ee8;
}

.main-page-book {
  margin-top: 40px;
}

.main-book-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dark .main-book-title {
  color: #fff;
}
.main-book-author {
  margin-top: 4px;
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .button-see-more {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .button-see-more {
    margin-top: 32px;
  }
}

.book-details {
  margin-top: 10px;
}

/* -------------------------- Overlay--------------------- */
.image-overlay {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-overlay-description {
  position: absolute;
  border-radius: 8px;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.06em;
  text-transform: uppercase;
  color: #000000;
  padding: 26px 52px;
  background-color: #eac645;
  pointer-events: none;
}

.image-overlay:hover .image-overlay-description,
.book-card:hover .image-overlay-description,
.book-details:hover .image-overlay-description {
  opacity: 1;
  transform: translateY(186px);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
