/* категорії */

/* both categories & support funds container  */
/* mobile */
.img {
  max-width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 86px;
  }
}

/* mobile */
.categories-container {
  width: 335px;
  height: 228px;

  /* overflow-x: hidden; */
  overflow-y: scroll;
}

.categories-container::-webkit-scrollbar {
  width: 8px;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-container {
    width: 337px;
    height: 472px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-container {
    width: 356px;
  }
}

/* mobile */
.categories-elements {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 307px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-elements {
    width: 309px;

    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-elements {
    width: 328px;
  }
}

/* mobile */
.categories-list {
  height: 18px;

  font-size: 15px;
  color: var(--category);
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
}

/* tablet & desktop */
@media only screen and (min-width: 768px) {
  .categories-list {
    /* gap: 32px; */

    height: 24px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.categories-list:hover,
.categories-list:focus {
  color: var(--brand-color);
}

.current-category {
  /* height: 24px; */
  font-weight: 700;
  line-height: 1.33333;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  color: var(--active-category);
}

/* --------------------------MAIN PAGE RIGHT aka BOOKS--------------------- */

.main-page-div {
  margin: 0 auto;
}
.main-page-right {
  margin: 0;
  /* margin-left: auto;
  margin-right: auto; */
  display: block;
}

.main-page-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

.main-page-title-span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #4f2ee8;
}
.main-page-book-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #b4afaf;
  margin-top: 10px;
}
.main-page-books-render {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 8px;
  gap: 24px;
}
.main-page-book-render-item {
  width: 180px;
  /* height: 306px; */
  padding: 0;
}

.book-image {
  width: 335px;
  height: 485px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .book-image {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .book-image {
    width: 180px;
    height: 256px;
    border-radius: 8px;
  }
}

.book-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 4px;
}
.book-author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}
.button-see-more {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  padding: 14px 28px;
  height: 46px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #111;
  background-color: #fff;
}

/* -------------------------- END MAIN PAGE RIGHT aka BOOKS--------------------- */
.main-page-right {
  margin: 0 auto;
  /* margin-bottom: 40px; */
  display: block;
}

.main-page-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .main-page-title {
    font-size: 48px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 40px;
  }
}

.main-page-title-span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #4f2ee8;
}

@media only screen and (min-width: 768px) {
  .main-page-title-span {
    font-size: 48px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-title-span {
    font-size: 48px;
    line-height: 52px;
  }
}

.main-page-book-title {
  width: 277px;
  height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.main-page-books-render {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Відступ між книгами для всіх пристроїв */
}

@media only screen and (min-width: 768px) {
  .main-page-books-render {
    gap: 20px; /* Збільште відступ між книгами для планшетів */
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-books-render {
    gap: 20px; /* Збільште відступ між книгами для десктопів */
  }
}

.main-page-book-render-item {
  width: 100%;
  margin-bottom: 20px;
}

/* @media only screen and (min-width: 768px) {
  .main-page-book-render-item {
    width: calc(
      33.33% - 20px
    ); 
  }
} */

/* @media only screen and (min-width: 1440px) {
  .main-page-book-render-item {
    width: calc(
      20% - 30px
    ); 
  }
} */

.book-title {
  /* line-break: auto; */
  font-family: 'DM Sans', sans-serif;
  line-break: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #333232;
  margin-top: 14px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1440px) {
  .book-title {
    /* line-break: auto; */
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #333232;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.book-author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.button-see-more {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  background-color: var(--main-bg-cl);
  line-break: auto;
  line-clamp: 180px;
  letter-spacing: -0.01em;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  overflow: hidden;
}
-----------------

/* категорії */

/* both categories & support funds container  */
/* mobile */
.img {
  max-width: 100%;
}

button {
  background-color: var(--start-modal-btn-bg);
  color: var(--start-modal-btn-text);
}

.dark .main-page-title {
  color: #fff;
}

.dark .button-see-more {
  background-color: var(--brand-color);
  color: var(--text-color);
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .list {
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 86px;
  }
}

/* mobile */
.categories-container {
  width: 335px;
  height: 228px;

  /* overflow-x: hidden; */
  overflow-y: scroll;
}

.categories-container::-webkit-scrollbar {
  width: 8px;
}

.categories-container::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* color of the scroll thumb */
  border-radius: 12px; /* roundness of the scroll thumb */
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-container {
    width: 337px;
    height: 472px;
  }
}
/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-container {
    width: 356px;
  }
}

/* mobile */
.categories-elements {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 307px;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .categories-elements {
    width: 309px;

    gap: 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .categories-elements {
    width: 328px;
  }
}

/* mobile */
.categories-list {
  height: 18px;

  font-size: 15px;
  color: var(--category);
  font-weight: 400;
  line-height: 1.13;
  letter-spacing: -0.32px;
}

/* tablet & desktop */
@media only screen and (min-width: 768px) {
  .categories-list {
    /* gap: 32px; */

    height: 24px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: -0.36px;
  }
}

.categories-list:hover,
.categories-list:focus {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-color);

  text-transform: uppercase;
}

.active {
  height: 24px;
  font-size: 16px;
  font-weight: 700;

  text-transform: uppercase;
  color: var(--active-category);
}

/* --------------------------MAIN PAGE RIGHT aka BOOKS--------------------- */

.main-page-right {
  margin: 0 auto;
  display: block;
}

.main-page-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.04em;
  color: #111;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .main-page-title {
    font-size: 48px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 38px;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 40px;
  }
}

.main-page-title-span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.08333;
  letter-spacing: -0.04em;
  color: #4f2ee8;
}

@media only screen and (min-width: 768px) {
  .main-page-title-span {
    font-size: 48px;
    line-height: 52px;
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-title-span {
    font-size: 48px;
    line-height: 52px;
  }
}

.main-page-book-title {
  width: 277px;
  height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 18px;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.main-page-books-render {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px;  */
}

.main-page-book-render-item {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .main-page-book-render-item {
    width: calc(33% - 17px);
  }
}

@media only screen and (min-width: 1440px) {
  .main-page-book-render-item {
    width: calc(20% - 16px);
  }
}

.book-title {
  /* line-break: auto; */
  font-family: 'DM Sans', sans-serif;
  line-break: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #333232;
  margin-top: 14px;
  margin-bottom: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 1440px) {
  .book-title {
    /* line-break: auto; */
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #333232;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.book-author {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.button-see-more {
  border: 2px solid #4f2ee8;
  border-radius: 40px;
  width: 124px;
  height: 46px;
  background-color: var(--main-bg-cl);
  line-break: auto;
  line-clamp: 180px;
  letter-spacing: -0.01em;
  color: #111;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 0;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .button-see-more {
    margin-right: 55px;
  }
}

@media only screen and (min-width: 1440px) {
  .button-see-more {
    margin-right: 0;
  }
}

.button-see-more:hover,
.button-see-more:focus {
  color: var(--white-color);
  background-color: var(--brand-color);
}

.dark button:hover,
.dark button:focus {
  background-color: var(--green-color);
  color: var(--text-color);
}

/* -------------------------- Overlay--------------------- */
.image-overlay {
  position: relative; /* Устанавливаем позиционирование родительского элемента */
  overflow: hidden;
  display: inline-block;
}

.image-overlay-description {
  position: absolute;
  border-radius: 8px;
  text-transform: uppercase;
  /* left: 50%; */
  top: 50%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000000;
  padding: 40px 40px;
  background-color: #eac645;
  max-height: 60%;
  width: 100%;
  transform: translateY(70%);
  transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  opacity: 0;
}

.image-overlay:hover .image-overlay-description {
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.book-card:hover .image-overlay-description,
.book-details:hover .image-overlay-description {
  opacity: 1;
}
